@using NerdCity.ViewModels
@model IndexViewModel

<html>
<head>
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
   integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
   crossorigin=""></script>
</head>
<body>

  <form id="searchForm" class="form-inline md-form mr-auto mb-4" method="post">
    <input name="searchValue" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success btn-rounded btn-sm my-0" type="submit">Search</button>
  </form>
  <div id="map"></div>

  <script type="text/javascript">
    var dieIcon = L.icon({
      // iconUrl: 'https://images-na.ssl-images-amazon.com/images/I/51jp39VD+uL.png',
      iconUrl: 'img/die_pin.png',
      iconSize: [35,35],
      popupAnchor: [0,0],
      iconAnchor: [17.5,36]
    });

    var data = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.GeoJsonData) as string)';
    // initialize the map
    var map = L.map('map').setView([45.5051, -122.6750], 12);

    // load a tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    var list = JSON.parse(data);
    var geoLayer = L.geoJSON(list, { 
      pointToLayer: function (feature, latlng){
        var marker = L.marker(latlng, { icon: dieIcon });
        if(feature.properties && feature.properties.Name) {
          marker.bindPopup(feature.properties.Name);
        }
        return marker;
      }
     }).addTo(map);


  </script>

</body>
</html>